@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_LayoutLogged.cshtml";
}

<div class="panel panel-default panel-default-fe">
    <div class="panel-heading panel-heading-fe"><h4>Acerca de Evaluaciones NetCore...</h4></div>
    <div class="panel-body">
        <p>Sotware desarrollado por el área de ingeniería de <strong>Inversiones Castellano Limitada</strong>.
         Es una solución moderna y capaz de entregar una rápida respuesta a la problemática que pueden llegar a ser las 
         evaluaciones. <strong>NetCore Evaluaciones</strong> esta desarrollado con tecnología de punta y siguiendo lineamientos de <strong>ingeniería
         de software</strong> que buscan asegurar calidad en el producto resultante.
         <br /><br />
         Esperamos que esta plataforma facilite su trabajo y le permita mejorar sus resultados.
         <br /><br />
         Estaremos atentos a sus comentarios.
         <br /><br />
         <strong>Atentamente equipo NetCore!</strong>
        </p>
    </div>
</div>