@using Castellano.Membresia

@model Castellano.Web.UI.Areas.Administracion.Models.Aplicacion

@{
    ViewBag.Title = "Aplicaciones";
    Layout = "~/Views/Shared/_LayoutLogged.cshtml";
}

<script type="text/javascript">

    $(document).ready(function () {

        $('#gridView').DataTable({
        });
    })

</script>

<p>
    <table id="gridView" class="display">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Orden</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>Nombre</th>
                <th>Orden</th>
                <th>Acciones</th>
            </tr>
        </tfoot>
        <tbody>
            @foreach (Castellano.Membresia.Aplicacion aplicacion in Castellano.Membresia.Aplicacion.GetAll())
            {

                <tr>
                    <td>@aplicacion.Nombre</td>
                    <td>@aplicacion.Orden</td>
                    <td>
                        <a href="#">Prueba</a>
                    </td>
                </tr>

            }
        </tbody>
    </table>
</p>