@using Castellano.Membresia

@model Castellano.Web.UI.Areas.Administracion.Models.Aplicacion

@{
    ViewBag.Title = "Auditoria";
    Layout = "~/Views/Shared/_LayoutLogged.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-4 stackem">
            <div>1</div>
            <div>2</div>
            <div>3</div>
        </div>
        <div class="col-md-8">
            aqui
        </div>
    </div>
</div>