@using Castellano.Helpers

@model Castellano.Web.UI.Areas.Administracion.Models.MenuItem

@{
    ViewBag.Title = "ItemsMenu";
    Layout = "~/Views/Shared/_LayoutLogged.cshtml";
}

<div class="panel panel-default panel-default-fe">
    <div class="panel-heading panel-heading-fe">
        <h4>Administración de ítems de menú</h4>
    </div>
    <div class="panel-body">
        <div class="form-horizontal">
            <div class="form-group">
                @Html.LabelFor(x => x.AplicacionId, new { @for = "aplicacion", @class = "col-sm-4 control-label" })
                <div class="col-sm-5">
                    @Html.DropDownListFor(x => x.AplicacionId, Castellano.Membresia.Aplicacion.Aplicaciones, new { @id = "aplicacion", @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-7 col-sm-3">
                    <button id="cancelOrder" class="btn btn-danger">Cancelar</button>
                    <button id="saveOrder" class="btn btn-primary">Guardar</button>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-md-offset-3">
            <span id="menuItems" />
        </div>
    </div>    
</div>



@Html.Hidden("menuJson")

@Scripts.Render("~/Content/js/jquery.nestable")

<script type="text/javascript">
    jQuery(document).ready(function () {

        $('#aplicacion').change(function () {

            if ($(this).val() == '-1') {

                $('#menuItems').html('');
            }
            else {

                $.getJSON('/Administracion/Admin/GetItemsMenu/' + $(this).val(), function (data) {

                    $('#menuItems').html(data);

                    menu();
                });
            }
        })

        $(document).on('click', 'a[typeButton=Add]', function () {

            alert('add');

        });

        $(document).on('click', 'a[typeButton=Edit]', function () {

            alert('edit');

        });

        $(document).on('click', 'a[typeButton=Delete]', function () {

            alert('delete');

        });

        $('#cancelOrder').click(function () {

            //alert('aqui');

            $('#menu').nestable('destroy');

        });

        $('#saveOrder').click(function () {

            //var obj = JSON.stringify(eval("(" + $('#menuJson').val() + ")"));

            var obj = {
                data: JSON.stringify(eval("(" + $('#menuJson').val() + ")"))
            };

            $.ajax({
                type: "POST",
                url: "/Administracion/Admin/GetOrder",
                data: obj,
                success: function () {

                    swal("Listo!", "El orden fue guardado correctamente", "success");
                },
                error: function (data) {

                    swal("Error!", "Se ha producido un error al registrar el orden", "error");
                }
            });
        });
    });

    function menu() {

        var updateOutput = function (e) {

            if (e.length) {
                var a = e;
            }
            else {
                var b = $(e.target);
            }

            var list = e.length ? e : $(e.target);

            output = list.data('output');

            if (output != null) {

                if (window.JSON) {

                    output.val(window.JSON.stringify(list.nestable('serialize')));

                } else {

                    output.val('JSON browser support required for this demo.');
                }
            }
        };

        $('#menu').nestable({
            group: 1
        }).on('change', updateOutput);

        updateOutput($('#menu').data('output', $('#menuJson')));
    }
</script>
